/* *{
    border: 5px solid #ff6973;
} */

body{
    background: #46425e;
    margin-top: 120px;
}

.calcarea{
    display: flex;
    justify-content: center;
}
.calcbox{
    width: 320px;
    height: 540px;
    background: #ffb0a3;
    border-radius: 25px;
    box-shadow: 5px 5px 15px #ff6973;
}

.calcbox .calcscreen{
    width: 280px;
    height: 140px;
    background: #15788c;
    border-radius: 10px;
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 20px;
}
.calcfirstmenu{
    display: flex;
    justify-content: center;
    gap:10px;
}

.clearbtn{
    border: none;
    background: #ff6973;
    width: 120px;
    height: 60px;
    color: #46425e;
    border-radius: 25px;
}
.delbtn{
    border: none;
    background: #00b9be;
    width: 120px;
    height: 60px;
    color: #46425e;
    border-radius: 25px;
}

.clearbtn:hover{
    background: #d74e57;
}

.delbtn:hover{
    background: #007a7e;
}

.calcsecondmenu{
    display: flex;
    justify-content: center;
    gap:20px;
    margin: 20px 20px 0 20px;
}

.calcbtn{
    border: none;
    border-radius: 70%;
    width: 50px;
    height: 50px;
    background: #ffeecc;
    box-shadow: 4px 4px #b48128;
    color: #46425e;
}

.calcbtn:hover{
    background: #cebe97;
}

.calctxt{
    color:#f0f3c0;
    font-size: 36px;
    text-align: end;
    margin: 0 20px 40px 0;
}

.calcrestxt{
    color:#f0f3c0;
    font-size: 36px;
    text-align: end;
    margin: 0px 20px 0 0;
}